<html>
        <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
        <title><%= title %> </title>
        
</head>
<body>
    <div class="app">    
    <div class = "topLogin">
        <%= say %>
        <input type = "button"
        class = "stateButton"
        id = "state" 
        value = <%= state %> />
    </div>  
    <div class = "content">
        <% for (var i = 0;i<4;i++){ %>
        <div class = "column">
            <div class="box" id = <%= i+1 %>>
                <A href="/classify">
                    <input 
                    type="button" 
                    class="circle" 
                    style = "font-size: 20px;align-items:center;"
                    value = "+"
                    >
                </A>
            </div>
            <div class="line">
            </div>
        </div>
    <% } %>
    </div>
        <div 
        class = "footer" 
        style = "flex-direction:row; justify-content:flex-end">
        
        </div>                  
    </div>
    <script type = "text/javascript">
    $(document).ready(function() {
        $('.app').css('background','url("")');
        var user_id = '<%= id %>';
        $.ajax({
            url: "/getRecipe", // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: { user_id: user_id},                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "GET",                             // HTTP 요청 방식(GET, POST)
            dataType: "json",
            async: false,
            success: function(data) {
                var id = 1,
                insert_element = null;
                data.forEach((value)=>{
                    insert_element = `
                    <div class = "recipe_item">
                        <input type = "image" class = "ingrd_thumb" src = "../img/shirmp.jpg"/>
                        <div style = "flex: 0 1 10%; background-color:red"></div>
                        <strong>${value.ing_name}</strong>
                    </div>`
                    $(insert_element).prependTo(`#${id}`);
                });
            }
         }).done((data) => {
        });
    });
    </script>
    </body>
</html>